<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Department Bean -->
    <bean id="departmentBean" class="com.example.model.Department">
        <property name="deptCode" value="HR" />
        <property name="departmentName" value="Human Resources" />
    </bean>

    <!-- College Bean with Constructor-based DI -->
    <bean id="collegeBean" class="com.example.model.College">
        <constructor-arg value="ABC College" />
        <constructor-arg ref="departmentBean" />
    </bean>
</beans>
